.options_part {
  width: 1024px;
  height: 120px;
  top: 595px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.option {
  width: 241px;
  height: 118px;
  border-radius: 20px;
  background-color: var(--white-background);
  position: relative;
  z-index: 100;
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.option_text {
  width: 160px;
  text-align: left;
  height: 88px;
  position: absolute;
  left: 20px;
  top: 22px;
  font-family: "Inter";
  color: var(--black-font);
  font-size: 16px;
}

.option_icon_background {
  position: absolute;
  top: 15px;
  right: 17px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: var(--light-blue);
}

.option_icon {
  position: absolute;
  top: 22px;
  right: 24px;
}
